<% include ../partials/header %>


<div class='publi'>
  <h1><%= publication.content %></h1>
  <h3>Author: <%= publication.author %></h3>
  <h3>Genre: <%= publication.genre_type %></h3>
  <a href='/publications/<%= publication.id %>/edit'> Edit </a><br>
  <a href='/publications'>Butun publicationlari gor</a>
</div>



<% include ../partials/footer %>
