<% include ../partials/header %>

<div class="table table-hover">
<br></br>
<h5 class="publiname">Add a new publication</h5>
<br></br>
<form method='POST' action='/publications'>
  <label for="inputContent">Title</label>
  <input class="form-control" name="content" type="text" placeholder="Content" />
  <label for="inputYear">Year</label>
  <input class="form-control" name="year" type="text" placeholder="Year" />
  <label for="inputAuthor">Author</label>
  <input class="form-control" name="author" type="text" placeholder="Author" />
  <label for="inputPdf">PDF</label>
  <input class="form-control" name="pdf" type="text" placeholder="PDF" />
  <label for="inputImage">Image</label>
  <input class="form-control" name="image" type="text" placeholder="image" />

  <br></br>
  <button type="submit" class="btn btn-primary mb-2" value='Submit!'>Submit</button>
</form>

</div>
<% include ../partials/footer %>
