<% include ../partials//header %>

<form method='POST' action='/publications'>
  <input name="content" type="text" placeholder="Quote" />
  <input name="author" type="text" placeholder="Author" />
  <input name="genre_type" type="text" placeholder="Genre_type" />
  <input type='submit' value='Submit!' />
</form>


<% include ../partials/footer %>
