

  <% include ../partials/header %>


<a href='/publications/new'>Add New</a>

  <div class="clearfix"><% pubdata.forEach(function(publi) { %>
  <div>
    <h5><%= publi.content %></h5>
    <h6>Author: <%= publi.author %></h6>
    <h6>Genre: <%= publi.genre_type %></h6>
      <div class="btn-group">
        <a href="/publications/<%= publi.id %>" class="btn btn-sm btn-outline-secondary">View</a>
      </div>
    </div>
  <% }) %></div>


<% include ../partials/footer %>




