

<div class='quote'>
<p>We have quotes by <% data.forEach(function(proje) { %>
  <h1><%= proje.content %></h1>
  <h3>Author: <%= proje.author %></h3>
  <h3>Genre: <%= proje.genre_type %></h3>
  <a href="/projeler/<%= proje.id %>"> Daha Fazla </a><br>
<% }) %>.</p>
</div>

