:root {
  --jumbotron-padding-y: 3rem;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #2F3330;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: .5em 0;
}

/*header*/
.navbar-light {
    background-color: #F7F9FC!important;
}

.navbar-toggler {
  margin-right: 50%;
}

/*navigation*/
.navbar{
display: block;
}

.nav-link {
  display: inline;
  text-transform: capitalize;
  font-weight: normal;
}

.bg-dark{
  background-color: #FBFDFF!important;
  text-align: center;
}

/*About me*/
.site-title{
  padding-left: 35%;
  padding-right: 35%;
  color: #3e3e3b;
  font-weight: 600;
  font-family: Playfair Display;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  text-transform: none;
  line-height: 1.2em;
  letter-spacing: 0.0208333em;
  padding-bottom: 0px;
  padding-top: 5px;
  margin-bottom: 0px;
}

.writingabout{
  margin-top: 50px;
  margin-left: 50px;
  width: 50.3333%;
  font-family: 'Playfair Display', serif;
  letter-spacing: .5px;
}

.writingtitle{
  font-weight: 300;
  font-family:  'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top:30px;
  margin-left: 50px;
}

.d-block{
  height: 500px;
}

.ilkeimage{
  right: 0%;
  position: absolute;
/*  margin-right: 50px;*/
/*  margin-top: 10px;*/
  margin-left: 10px;
}

img.resize {
  width:100px; /* you can use % */
  height: auto;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 1200px) {
  .container {
      max-width: 3000px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 1500px;
  }
}

@media (min-width: 576px) {
  .container {
      max-width: 1500px;
  }
}

a.nav-item{
  padding-left: 20px;
}

nav#firstnav {
  text-align: center;
}

.text-muted{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
/*admin*/
.btn.btn-link.collapsed{
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 4em;
  }

.btn-link{
   color: black;
}

.card-header{
  background-color: white;
  border-bottom: 1px  rgba(0,0,0,.125);
}

/*project*/

.table.table-hover{
  /*height: auto;*/
/*  display: table;*/
  height: 70%;
  /*float: left;*/
  padding-top: 0px;
  padding-right: 0px;
  position: relative;
  margin-bottom: 100px;
  margin-top: 0px;
  color: #535353;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

@media (min-width: 576px){
.col-sm-4 {
  max-width: 300px;
  }
}

.jumbotron {
  max-width: 400px;
  margin-bottom: 0;
  background-color: #fff;
}

@media (max-width: 570px) {
  .jumbotron {
    max-width: 300px;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

@media (max-width: 1000px) {
  iframe{
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  iframe{
    max-width: 600px;
  }
}

@media (max-width: 650px) {
  iframe{
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  iframe{
    margin-left: 5%;
    margin-right:5%;
    max-width: 300px;
  }
}

/*log in*/
#loginsignup{
  margin-left: 30%;
  margin-right: 30%;
}

.form-control {
  margin-right: 25px;
  margin-left: 25px;
  width: 75%;
}

label{
  padding-left: 25px;
}

.mb-2{
  margin-left: 25px;
}

.btn-primary {
  margin-left: 25px;
}

.btn-secondary {
  margin-left: 25px;
}

/*publications*/
.publi-title{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}

.publicationslist{
  font-size: 12px;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 1%;
  margin-left: 20%;
}

.spanclass{
  height: 400px;
  margin: 30px 24px 48px 40px;
  width: 100%;
  width: calc(40% - 3em);
  position: relative;
  display: -webkit-box;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  float: left;
  border-color: #D4D4D4;
  border-width: 1px;
  border-style: solid;
}

@media (max-width: 1200px) {
  .table.table-hover{
    max-width: 3000px;
  }

  .publicationslist{
    margin-right: 0%;
    margin-left: 0%;
  }

  .spanclass{
    width: calc(50% - 3em);
  }
}

@media (max-width: 700px) {
  .table.table-hover{
    max-width: 1200px;
  }

  .publicationslist{
    margin-left: 10%;
  }

  .spanclass{
    width: calc(100% - 3em);
  }
}

.publiname{
  -webkit-font-smoothing: antialiased;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: #535353;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.publibutton{
  background-color: #bbb;
  border-color: #bbb;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  padding: 0 24px;
  position: relative;
  transition: 150ms;
}

/*publication single*/
.publi{
  color: #535353;
  font-family: "Open Sans", Arial, sans-serif;
}

.publiname-single{
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  border: 0;
  font: inherit;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: baseline;
}

h5.publiname-single{
  font-size: 20px;
  font-weight: bold;
  padding-top: 40px;
}

@media (max-width: 500px) {
  .publiname-single{
    margin-left:5%;
    margin-right: 5%;
  }
}

.spanclasspubli{
  display: flex;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-left: 20px;
}

.paragraph {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: #535353;
  font-family: 'Lato', serif;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.edit-publication{
  padding-top: 20px;
  padding-left: 10px;
}

/*admin Page*/
.headline {
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.ilkeadmin{
  font-family: Lato;
  text-align: center;
  font-size: 13px;
}

.btn {
  font-size: 12px;
  margin-bottom: 5px;
}

/*contact me*/
.column__container{
  position: relative;
  margin: 5rem 10%;
  display: flex;
  flex-wrap: wrap;
};

#adminscontainer.containerz{
  font-weight: 300;
  margin: 0px;
}

.containerz {
    font-weight: 300;
    height: 100%;
}

.column__wrapper{
  width: 33.333333%;
  display: inline-block;
};

#admin.column__wrapper {
  padding: 20px;
};

.column__title::before{
  content: '';
  position: absolute;
  left: 0;
  width: 3em;
  height: 1px;
  top: 50%;
  background-color: #e5e5e5;
}

.column__title{
  position: relative;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 4em;
}

.column__content{
  padding: 0 4em 0 4em;
}

.clearfix div{
  /*height: auto;*/
  /*float: left;*/
  /*overflow: hidden;*/
  font-size: 12px;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 1%;
  margin-left: 1%;
}

/*footer*/
.footerhome{
  margin-left: 10px;
}

footer{
  position:relative;
  width:100%;
  height: 200px;
  margin-top: 200px;
  padding-bottom:50px;
  clear:both;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
