:root {
  --jumbotron-padding-y: 3rem;
}

.clearfix div{
  height: auto;
  width: 50%;
  float: left;
  font-size: 12px;
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  margin-left: 0px;

}


.table.table-hover{
  height: auto;
/*  display: table;*/
  height: 70%;
  float: left;
  padding-left: 20px;
  font-size: 12px;
  padding-top: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 100px;
  margin-top: 20px;
}

footer{
  position:relative;
  width:100%;
  height: 200px;
  margin-top: 200px;
  padding-bottom:50px;
  clear:both;

}
img.resize {
  width:100px; /* you can use % */
  height: auto;
}


.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}



footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
