<% include ../partials/header-signedin %>

<div class="table table-hover">
    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local User</h3>
                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>email</strong>: <%= user.email %><br>
                    </p>
            </div>
            <form action="/login/logout" method="post">
            <input class="btn btn-danger" type="submit" value="Log Out"/>
            </form>
        </div>

    </div>

</div>

<% include ../partials/footer %>
