<% include ../partials/header %>

<div class='proje'>
  <h1><%= proje.content %></h1>
  <h3>Author: <%= proje.author %></h3>
  <h3>Genre: <%= proje.genre_type %></h3>
  <a href='/projects'>Butun projeleri gor</a>
</div>

<% include ../partials/footer %>
