<% include ../partials/header %>
<div class="table table-hover">

<div class='proje'>
  <h5 class="publiname-single"><%= proje.content %></h5>
  <p class="publiname-single">Author: <%= proje.author %></p>
  <p class="publiname-single"><p><iframe src="<%= proje.pdf %>" style="width:1000px; height:500px;" frameborder="0"></iframe></p>

  <a href='/projects' class="btn btn-light">Back</a>

</div>
</div>
<% include ../partials/footer %>

