<% include ../partials/header %>
<br></br>
<a class="nav-item nav-link" href='/projects/new'>Add New</a>
<table class="table table-hover">
  <h1 class="headline"> Student Projects </h1>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Upload Date</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody><% data.forEach(function(proje) { %>
    <tr>
      <th scope="row"><%= proje.id %></th>
      <td><%= proje.content %></td>
      <td><%= proje.date_created %></td>
      <td><a href="/projects/<%= proje.id %>"> More </a></td>
    </tr>

  <% }) %></tbody>
</table>
</div>
<br>

<% include ../partials/footer %>
