<% include ../partials/header-signedin %>
    <br></br>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Hi Ilke! Please Read me!
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="ilkeadmin">
        <p class="ilkeadmin"> Hi Ilke! Welcome to Your Admin Panel! Please don't forget to logout after you are done.</p>
        <strong>email</strong>: <%= user.email %><br>
        <strong>password</strong>: hello123<br>
            <form action="/login/logout" method="post">
                <input class="btn btn-danger" type="submit" value="Log Out"/>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

      <div class="column__container containerz" id="adminscontainer">
      <div class="column__wrapper" id="admin">
        <div class="column__title">Exam Results</div>
        <br></br>
        <div class="column__content">
          <ul><a class="btn btn-light" href='/exam-results/new'>Add Exam Results</a>
            <a class="btn btn-light" href='/exam-results/admin'>View/Edit Exam Results</a></ul>
        </div>
      </div>
      <div class="column__wrapper" id="admin">
        <div class="column__title">
          Student Projects
        </div>
        <br></br>
        <div class="column__content">
          <ul><a class="btn btn-light" href='/projects/admin/new'>Add New Projects</a></ul>
          <ul><a class="btn btn-light" href='/projects/admin'>View/Edit Projects</a></ul>
        </div>
        <div class="column__title">
          Your Publications
        </div>
        <br></br>
        <div class="column__content">
          <ul><a class="btn btn-light" href='/publications/admin/new'>Add New Publication</a></ul>
          <ul><a class="btn btn-light" href='/publications/admin'>View/Edit Publications</a></ul>
        </div>
      </div>


      <div class="column__wrapper" id="admin">
        <div class="column__title">Pending Users</div>
        <br></br>
        <div class="column__content">
          <a href='/login/<%= user.id %>/pending' class="btn btn-light">Pending users</a>
        </div>
      </div>

  </div>




<% include ../partials/footer %>
