<% include ../partials/header %>
  <div class="column__container containerz">
      <div class="column__wrapper">

        <div class="column__title">Contact</div>
        <br></br>
        <div class="column__content">
          <ul><i class="far fa-envelope"></i>
          <a class="nav-item nav-link" href="mailto:ilkeciritci@gmail.com">Email Me</a></ul>
        </div>
      </div>
      <div class="column__wrapper">
        <div class="column__title">
          Follow Me
        </div>
        <br></br>
        <div class="column__content">
          <ul><i class="fab fa-linkedin-in"></i>
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/ilke-ciritci-33b96770/">Linkedin </a></ul>
          <ul><i class="fas fa-graduation-cap"></i>
          <a class="nav-item nav-link" href="http://gelisim.academia.edu/ilkeCiritci">Academia </a></ul>
          <ul><i class="fas fa-link"></i>
          <a class="nav-item nav-link" href="https://orcid.org/0000-0002-1492-0727">ORCID </a></ul>
          <ul><i class="fas fa-search"></i>
          <a class="nav-item nav-link" href="https://orcid.org/0000-0002-1492-0727">ResearcherID </a></ul>
        </div>
      </div>
      <div class="column__wrapper">
        <div class="column__title">Visit Me</div>
        <br></br>
        <div class="column__content">
          <ul>Gelisim University</ul>
          <ul>Cihangir Mahallesi Şehit Jandarma Komando Er Hakan Öner Sk. No:1 Avcılar/İSTANBUL, TURKEY</ul>
        </div>
      </div>

  </div>


<% include ../partials/footer %>
