<% include ../partials/header %>


  <div class="aboutme">

    <h1 class= "writingtitle">About Me</h1>
    <div class="imageabout">
      <img class="ilkeimage" src="../../img/ilkeTeacher.jpg" style="width:500px; height:500px;">
    </div>

    <div class="writingabout">
        <p>I am an Assist.Prof.Dr. at Gelisim University. </p>

      <h3 class="writingheadline">Research Interests</h3>
      <p>I focus my researches on Architecture, Architectural History, Archaeology, Architecture and Public Spaces, Science for Conservation and Restoration of Cultural Heritage, Conservation and Restoration of Historic Buildings and Monuments, Cultural Heritage Conservation, Heritage Conservation, Architectural Theory, Architectural Heritage, Architectural Heritage Conservation </p>

      <h3 class="writingheadline">Affiliations</h3>
      Istanbul Gelisim Universitesi, Architecture, Faculty Member
      Yeni Yüzyıl University, Faculty of Engineering- Architecture, Faculty Member
    </div>

  </div>





<% include ../partials/footer %>
