<% include ../partials/header %>


  <div class="aboutme">

    <h1 class= "writingtitle">About Me</h1>
    <div class="imageabout">
      <img class="ilkeimage" src="../../img/ilkeTeacher.jpg">
    </div>

    <div class="writingabout">
      <p class="writingaboutp">My name is Ilke Ciritci. I have a Bachelor of Architecture degree in Yıldız Technical University and Master of Architecture degree in Architectural Design from the same university. I worked as a part-time employee in an architecture firm on the second year of my education and continued working as a full-time employee in various architecture firms after graduation.  I started my first academic career as a research assistant at İstanbul Yeni Yüzyıl University while I was getting my doctorate in Mimar Sinan University - Restoration program. Once I got my doctorate degree, I was appointed as Ph.D. Associate Professor in the same university. During my work, I made and presented academic papers in 10 different conferences, 9 of which were international conferences, and wrote a section in an international architecture book. I am currently continuing my academic career at Gelisim University as Dr. Faculty member.  </p>
      <h3 class="writingheadline">Research Interests</h3>
      <p class="writingaboutp">I focus my researches on Architecture, Architectural History, Archaeology, Architecture and Public Spaces, Science for Conservation and Restoration of Cultural Heritage, Conservation and Restoration of Historic Buildings and Monuments, Cultural Heritage Conservation, Heritage Conservation, Architectural Theory, Architectural Heritage, Architectural Heritage Conservation </p>

      <h3 class="writingheadline">Affiliations</h3>
      Istanbul Gelisim Universitesi
    </div>

  </div>





<% include ../partials/footer %>
